#main-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: stretch;
	margin-top: 1rem;
}

#action-panel {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	flex: 1 0 14.8rem;
}

#results-panel {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	text-align: left;
	align-items: stretch;
	flex: 999 0 auto;
}

.json-data {
	max-width: 60vw;
	min-width: 60vw;
}